.app-header {
  background-color: #16182c;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

/* título */
.title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* navbar */
.app-header__nav {
  display: flex;
  gap: 1.5rem;
}

/* links */
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* link activo */
.nav-link--active {
  font-weight: bold;
  border-bottom: 2px solid white;
}