@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Variables de tema usadas desde CSS puro si las necesitas */
  --color-brand: #0f4c81;
  --color-brand-strong: #0a355c;
  --shadow-xl: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1);
}